* {
  margin: 0 auto;
}

td {
  width: 70px;
  height: 70px;
  border: 2px black solid;
}
/* select the even and odd td's of the rows and coloring it black*/
table tr:nth-child(odd) td:nth-child(even),
table tr:nth-child(even) td:nth-child(odd) {
  background: #000;
}
